html, body {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  font-family: 'Arapey', serif;
  font-size: 20px;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}

img {
  width: 15rem;
  border-radius: 4px;
}

.containingDiv {
  display: block;
  text-align: center;
}

.donateDiv {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 1rem;
}

.socialDiv {
  font-size: 70px;
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 1rem;
  background-color: black;
  color: whitesmoke;
}

.socialDiv a {
  color: whitesmoke;
}

.socialDiv a:hover {
  color: lightgray;
}

.socialIcons {
  font-size: 50px;
  color: whitesmoke;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.socialIcons a {
  color: whitesmoke;
}

.socialIcons a:hover {
  color: lightgray;
}

.aboutText {
  text-align: left;
}

ul {
  text-align: left;
}

.currentNeedsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 699px) {
  img {
    width: 25rem;
  }

  .imgDiv {
    padding: 0;
  }

  .about {
    margin-top: 3rem;
  }

  .aboutText {
    margin: 3rem 5rem;
  }
}

@media (min-width: 1024px) {
  img {
    width: 40rem;
  }

  .currentNeedsDiv {
    flex-direction: row;
    justify-content: space-around;
  }
}
